{{- $critical_css := resources.Get "critical.css"
    | resources.Minify
    | resources.Fingerprint -}}
{{- $syntax_light := resources.Get "syntax-light.css"
    | resources.Minify
    | resources.Fingerprint -}}
{{- $syntax_dark  := resources.Get "syntax-dark.css"
    | resources.Minify
    | resources.Fingerprint -}}
{{- $gh := resources.Get "icon_gh.svg" | resources.Minify | resources.Fingerprint -}}
{{- $clipboard :=  resources.Get "copy_on_click.ts"
  | js.Build (dict
      "minify" true
      "format" "iife"
    )
  | resources.Fingerprint
-}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="stylesheet" href="{{ $critical_css.Permalink }}">
    <style>
      @import url("{{ $syntax_light.Permalink | safeCSS }}");
      @media (prefers-color-scheme: dark) {
        @import url("{{ $syntax_dark.Permalink | safeCSS }}");
      }
    </style>
    <script src="{{ $clipboard.Permalink }}" integrity="{{ $clipboard.Data.Integrity }}" defer></script>
  </head>
  <body>
    {{ block "header" .}}
    <header>
      <h1><a href="{{ $.Site.BaseURL }}">Today I Learned</a></h1>
      <nav>
        <a href="{{ absURL "tags" }}">tags</a>
        <a href="{{ absURL "search" }}">search</a>
        <a href="https://github.com/skalt/til">
            <img alt="repo" title="repo" src="{{(resources.Get "icon_gh.svg" | resources.Fingerprint).Permalink}}">
        </a>
        {{ with .OutputFormats.Get "rss" -}}
          <a href="{{ .Permalink }}">
              <img alt="rss" title="rss" src="{{(resources.Get "icon_rss.svg" | resources.Fingerprint).Permalink}}"></a>
          </a>
        {{ end -}}
      </nav>
    </header>
    {{ end }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ block "footer" . }}
    <footer>
      <span>© 2022-2022 {{ $.Site.Copyright }}</span>
      <!--  -->
    </footer>
    {{ end }}
  </body>
</html>
