<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>
    {% if page.title and page.title != site.title %} {{ page.title }} | {% endif
    %} {{ site.title }}
  </title>
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relative_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      font-family: 'Courier New', Courier, monospace;
    }
    main {
      flex: 1 0 auto;
      max-width: 70ch;
      padding: 2ch;
      margin: auto;
    }
  </style>
</head>
<body>
  <main>{{ content }}</main>
</body>
